/* layout*/

#nav-header{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/*body{
	background-color: #2E2E2E;
}*/

#footer{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* layout */
/*accueil*/

/* news */

#news{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#news2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#news2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#news3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/*avancée demo */

#avancement{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#avancement h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#avancement2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/*accueil*/

/* menu deroulant */

#nav-header ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#nav-header li {
 float:left;
 margin:auto;
 padding:0;
 background-color:#0489B1;
 }
#nav-header li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
#nav-header li a:hover {
 color:#FFD700;
 }
 
 #nav-header ul li ul {
 display:none;
 }
 
 #nav-header ul li:hover ul {
 display:block;
 }
#nav-header li:hover ul li {
 float:none;
 }
 
 #nav-header li ul {
 position:absolute;
 }
 
/* Listing classe */

#classe{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#classe2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#classe2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#classe3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* Listing sort */

#sort{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#sort2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#sort2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#sort3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* Listing objet */

#objet{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#objet2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#objet2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#objet3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* Listing bestiaire */

#bestiaire{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#bestiaire2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#bestiaire2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#bestiaire3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* Listing monde */

#monde{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#monde2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#monde2 h2{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

#monde3{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}

/* support */

#support h1{
    margin-left: 80px;
	margin-top: 0px;
	float: left;
	text-align: left;
	width:75%;
    border: 1px solid black;
}